# VacationPy
---

## Starter Code to Import Libraries and Load the Weather and Coordinates Data

In [11]:
# Dependencies and Setup
import hvplot.pandas
import pandas as pd
import requests
import gmaps
import numpy as np
import random

# Import API key
from api_keys import geoapify_key

Attributions:
Geoapify (not sure if this is for vacationpy or weatherpy)
OpenStreetMap attribution is always required when using the Services.
Geoapify attribution is mandatory when using Free subscription plan.
You agree to provide attribution when required.

In [12]:
# Load the CSV file created in Part 1 into a Pandas DataFrame
city_data_df = pd.read_csv("output_data/cities.csv")

# Display sample data
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,sao filipe,14.8961,-24.4956,27.00,63,100,4.51,CV,1667597199
1,1,barpeta,26.3167,91.0000,19.46,83,0,2.90,IN,1667597199
2,2,longyearbyen,78.2186,15.6401,-1.09,86,75,1.54,SJ,1667596917
3,3,marienburg,54.0359,19.0266,9.93,67,100,4.84,PL,1667597069
4,4,kailua,21.4022,-157.7394,29.99,76,100,4.47,US,1667597004

In [13]:
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date            int64
dtype: object

In [25]:
#add a column to use for humidity markers on map
city_data_df['Humidity/10'] = (city_data_df['Humidity']/10+1)
city_data_df = city_data_df.astype({'Humidity/10':np.dtype('int64')})
#add a column for MaxTemp in Fahrenheit
city_data_df['MaxTempF'] = city_data_df['Max Temp']*9/5+32
city_data_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Humidity/10,MaxTempF
0,0,sao filipe,14.8961,-24.4956,27.00,63,100,4.51,CV,1667597199,7,80.600
1,1,barpeta,26.3167,91.0000,19.46,83,0,2.90,IN,1667597199,9,67.028
2,2,longyearbyen,78.2186,15.6401,-1.09,86,75,1.54,SJ,1667596917,9,30.038
3,3,marienburg,54.0359,19.0266,9.93,67,100,4.84,PL,1667597069,7,49.874
4,4,kailua,21.4022,-157.7394,29.99,76,100,4.47,US,1667597004,8,85.982
...,...,...,...,...,...,...,...,...,...,...,...,...
569,569,crnomelj,45.5711,15.1889,11.41,93,100,1.33,SI,1667597367,10,52.538
570,570,petropavlovsk-kamchatskiy,53.0452,158.6483,-2.67,100,75,2.00,RU,1667597276,11,27.194
571,571,palana,59.1167,159.9667,-1.00,91,100,6.23,RU,1667597367,10,30.200
572,572,rauseni,47.5667,27.2000,11.25,79,73,4.00,RO,1667597367,8,52.250
573,573,port lincoln,-34.7333,135.8667,15.02,82,65,4.60,AU,1667597368,9,59.036

In [15]:
city_data_df.dtypes

City_ID          int64
City            object
Lat            float64
Lng            float64
Max Temp       float64
Humidity         int64
Cloudiness       int64
Wind Speed     float64
Country         object
Date             int64
Humidity/10      int64
dtype: object

---

### Step 1: Create a map that displays a point for every city in the `city_data_df` DataFrame. The size of the point should be the humidity in each city.

In [18]:

get_colors = lambda n: ["#%06x" % random.randint(0, 0xFFFFFF) for _ in range(n)]
colors = get_colors(len(city_data_df['City']))
colors

['#2122ab',
 '#bd9937',
 '#672893',
 '#2f77d1',
 '#8da688',
 '#81fa64',
 '#3f4467',
 '#68c0d5',
 '#63ccfe',
 '#a09f76',
 '#bd3373',
 '#aa4933',
 '#a6a394',
 '#e20603',
 '#169655',
 '#fa5ffe',
 '#d82712',
 '#b0145b',
 '#d138dc',
 '#6efb67',
 '#22351e',
 '#7c2e3c',
 '#2f8052',
 '#1ffce9',
 '#28af15',
 '#61c8b0',
 '#97c32f',
 '#77f671',
 '#5ac60e',
 '#95c036',
 '#913bce',
 '#f139a3',
 '#2c60df',
 '#e15afc',
 '#ee0ef9',
 '#9e7b9a',
 '#3ea306',
 '#488a5e',
 '#c330c6',
 '#8d95f3',
 '#86112e',
 '#ed7127',
 '#41737e',
 '#8ba5fb',
 '#2d1afa',
 '#31712f',
 '#e9202e',
 '#0b3c34',
 '#583cd9',
 '#522538',
 '#8e0739',
 '#b95aa6',
 '#05ad48',
 '#d7a999',
 '#7c25a8',
 '#27c3c2',
 '#afe09c',
 '#3789ea',
 '#2e9203',
 '#9ffbd0',
 '#aa0f98',
 '#03b87a',
 '#77dda0',
 '#bd8355',
 '#4aa1cf',
 '#57d858',
 '#5f4768',
 '#4814b5',
 '#ae9314',
 '#019eb2',
 '#7931ca',
 '#060283',
 '#a8b7ec',
 '#8e462f',
 '#24584d',
 '#eac18f',
 '#44fe95',
 '#26b7c2',
 '#080c47',
 '#179953',
 '#405d40',
 '#651de0',
 '#0641b5',
 '#46ee7d',
 '#1d4815',
 '#f74eaa',
 '#1b18e4',
 '#2c5054',
 '#019e85',
 '#4fd7f7',
 '#10e354',
 '#da81e0',
 '#818666',
 '#27e230',
 '#a683f1',
 '#38ba87',
 '#6f4d07',
 '#7025d2',
 '#6bb8b2',
 '#687310',
 '#f5429a',
 '#40b9b4',
 '#94ae79',
 '#7ee9a7',
 '#0dcb61',
 '#230c28',
 '#40a1e4',
 '#1064ff',
 '#0ed129',
 '#3fa140',
 '#e51111',
 '#fe642a',
 '#5d0836',
 '#fa582e',
 '#2cd74d',
 '#79459c',
 '#0a7a3a',
 '#5a7755',
 '#f0578f',
 '#b86bc6',
 '#d1cf31',
 '#b87524',
 '#977c64',
 '#7f54c9',
 '#26ceab',
 '#682cce',
 '#2309dd',
 '#f9dd5c',
 '#705516',
 '#eaef57',
 '#b12757',
 '#65bf63',
 '#d8a5c4',
 '#14999b',
 '#54c83f',
 '#3e89ac',
 '#9778ce',
 '#50107c',
 '#1c8269',
 '#e03fa2',
 '#a4e279',
 '#e96542',
 '#9f927f',
 '#45b956',
 '#25b49c',
 '#2bf3fc',
 '#61b2e2',
 '#c32046',
 '#1c28e5',
 '#4afbb6',
 '#696fd3',
 '#3569a3',
 '#adc94c',
 '#dbee31',
 '#d0a423',
 '#7b7ccb',
 '#1fe4e4',
 '#a7135b',
 '#25b236',
 '#296bff',
 '#ee0a55',
 '#830a54',
 '#58468f',
 '#ca3de4',
 '#9560fd',
 '#2e1e01',
 '#d11e70',
 '#f2638d',
 '#4e89c9',
 '#bda0eb',
 '#20b445',
 '#75fec5',
 '#d3cc54',
 '#9417a4',
 '#4e7888',
 '#ea308b',
 '#177275',
 '#d30b61',
 '#0730d1',
 '#426eda',
 '#316126',
 '#33b876',
 '#9db260',
 '#ee7342',
 '#56cf10',
 '#beaa74',
 '#f54732',
 '#567e3a',
 '#38f248',
 '#63710e',
 '#5f1e84',
 '#ad528e',
 '#a0b5dd',
 '#f90500',
 '#19897e',
 '#f54dd8',
 '#c3130e',
 '#165f1f',
 '#ac3aab',
 '#a8e87c',
 '#e7e0ca',
 '#b2a3d9',
 '#240fcb',
 '#d81c13',
 '#c905b9',
 '#f38ae0',
 '#248ce5',
 '#bc7695',
 '#11c0b4',
 '#fa9703',
 '#d68ab0',
 '#fec785',
 '#2bbcbb',
 '#edc59c',
 '#52f0d9',
 '#62abf5',
 '#ac765a',
 '#9bafc3',
 '#63c590',
 '#411399',
 '#f561ad',
 '#c043b4',
 '#42d5fa',
 '#ae3425',
 '#d1dbe3',
 '#ddb178',
 '#714813',
 '#10a2a5',
 '#f2917e',
 '#34f71f',
 '#b96731',
 '#e8a760',
 '#d91c64',
 '#4d011a',
 '#c52b43',
 '#9d5da3',
 '#77c308',
 '#6899e6',
 '#6b369f',
 '#b780d2',
 '#bf81f5',
 '#dd319a',
 '#7631ec',
 '#577239',
 '#9eccc8',
 '#47828f',
 '#271343',
 '#4ad6d0',
 '#52d30e',
 '#627318',
 '#e3d075',
 '#ea5a06',
 '#5e9259',
 '#9ee4b6',
 '#2ec981',
 '#82c4b8',
 '#100a5d',
 '#acfbf1',
 '#39538c',
 '#5204c1',
 '#9b7351',
 '#87e6ab',
 '#161830',
 '#34e508',
 '#45ae8e',
 '#068216',
 '#0f205c',
 '#8b1367',
 '#4be1b9',
 '#6df270',
 '#4fb58c',
 '#000aff',
 '#b028c2',
 '#b54c13',
 '#7617bd',
 '#a018d4',
 '#0aae1a',
 '#d2a1e2',
 '#947dc4',
 '#fa29a3',
 '#cfa5dd',
 '#9e069d',
 '#d8ec7b',
 '#1a52cc',
 '#bb7b00',
 '#a439f9',
 '#6f1432',
 '#5f7037',
 '#4f5630',
 '#421442',
 '#b070e4',
 '#eb8643',
 '#9b50d7',
 '#ba9424',
 '#9c2bf8',
 '#35b73b',
 '#2f4351',
 '#976def',
 '#25daa4',
 '#0c6a5a',
 '#a977d3',
 '#c9b273',
 '#50c2d0',
 '#4e9022',
 '#6291c5',
 '#e94cf7',
 '#c055b4',
 '#d07d25',
 '#22215f',
 '#449593',
 '#7525ce',
 '#a9d257',
 '#494b18',
 '#284062',
 '#895ba2',
 '#3e670c',
 '#7814f9',
 '#28fed3',
 '#65746c',
 '#2ee548',
 '#f492da',
 '#fba325',
 '#08e6d7',
 '#e9673e',
 '#c7347d',
 '#a9f9a0',
 '#5f3647',
 '#4d2164',
 '#4c9c3e',
 '#0e7e67',
 '#7cebed',
 '#993607',
 '#699c8d',
 '#7515da',
 '#532044',
 '#c9ca9a',
 '#890675',
 '#cd0a88',
 '#905a07',
 '#5e2e2e',
 '#f6e5d3',
 '#e25086',
 '#d40cb8',
 '#6495ff',
 '#42fb39',
 '#4c0ddf',
 '#478d14',
 '#fc407b',
 '#d98851',
 '#28ad52',
 '#6cac9a',
 '#bbd80b',
 '#fed025',
 '#37d237',
 '#3bca4d',
 '#99670b',
 '#d3254e',
 '#e2604f',
 '#3ecfcd',
 '#c21e10',
 '#3f3863',
 '#f2468b',
 '#dbdaf0',
 '#b35662',
 '#32ebe2',
 '#6707de',
 '#f776fe',
 '#58fc39',
 '#0a5c4e',
 '#0f2889',
 '#6ec097',
 '#23169c',
 '#e8c3c2',
 '#aa06c6',
 '#c8e098',
 '#466bd4',
 '#ff9eb6',
 '#db3cb8',
 '#5dba76',
 '#399a81',
 '#b47517',
 '#0a46fa',
 '#295c13',
 '#01bc55',
 '#09aaff',
 '#f44e0d',
 '#2aef97',
 '#dc7b38',
 '#789214',
 '#00ad32',
 '#a2444d',
 '#50b22d',
 '#48726e',
 '#9fa81d',
 '#477c21',
 '#2f4475',
 '#fe7cfe',
 '#881e86',
 '#61cd34',
 '#7a93ec',
 '#2fdd57',
 '#5aca29',
 '#14960b',
 '#780129',
 '#0cbb51',
 '#f27557',
 '#20f642',
 '#d27f2b',
 '#2f088c',
 '#a756be',
 '#5fef59',
 '#df40ee',
 '#715a36',
 '#2406d7',
 '#17423a',
 '#e206b4',
 '#0dd172',
 '#5293cf',
 '#8985af',
 '#733894',
 '#4788ed',
 '#3c9057',
 '#96542b',
 '#01aa3b',
 '#71a6d8',
 '#fbd67f',
 '#a583a7',
 '#2632fa',
 '#dfbda3',
 '#b541a5',
 '#2a60fe',
 '#3e1032',
 '#c8c085',
 '#f2707e',
 '#3d39e8',
 '#e64f64',
 '#9390a6',
 '#5ca1e9',
 '#642a86',
 '#eea112',
 '#453b2c',
 '#8ac03d',
 '#d0a8ea',
 '#db54d5',
 '#8a1bc4',
 '#6bad5a',
 '#d18651',
 '#f3b285',
 '#3fa571',
 '#d7fb77',
 '#4f85d2',
 '#265f00',
 '#c2d1e3',
 '#681da4',
 '#b907e6',
 '#84e8ca',
 '#9908ed',
 '#fb4e03',
 '#41e5ac',
 '#30bac2',
 '#4c7a5f',
 '#37e03e',
 '#4a0925',
 '#5b7d20',
 '#f9ccc3',
 '#e41eeb',
 '#717ef0',
 '#8646fe',
 '#4e8e71',
 '#61e643',
 '#70c88d',
 '#563975',
 '#f089df',
 '#20eda1',
 '#455ab9',
 '#b8fb8e',
 '#62c09e',
 '#13ba2d',
 '#81b364',
 '#9dd5cb',
 '#72f43b',
 '#2f56cb',
 '#d5bce0',
 '#8d08c4',
 '#efe284',
 '#b97c9c',
 '#d254f0',
 '#fac1c1',
 '#8c23f2',
 '#c7963b',
 '#c4ab04',
 '#1ca896',
 '#582b7c',
 '#57297a',
 '#e98dc4',
 '#1c5970',
 '#407167',
 '#17f7e8',
 '#b0b4d4',
 '#eea51d',
 '#770c24',
 '#4ebb05',
 '#98c9c8',
 '#06cbd8',
 '#d8fd1d',
 '#2e255e',
 '#5c1ec7',
 '#be74be',
 '#7477ea',
 '#839ebe',
 '#efa5ed',
 '#7a2e5c',
 '#c657d9',
 '#d56ec5',
 '#df2069',
 '#fe31c9',
 '#51bda3',
 '#64a5dd',
 '#da96bd',
 '#639520',
 '#2b3d6d',
 '#af8c59',
 '#499142',
 '#5d6a3a',
 '#95b995',
 '#d6e6f7',
 '#b7c258',
 '#33a58b',
 '#1728d1',
 '#a879b9',
 '#b87e8b',
 '#dc5def',
 '#09e2af',
 '#ee5417',
 '#289fa0',
 '#163637',
 '#62210d',
 '#a7379d',
 '#db30b7',
 '#4b39aa',
 '#a65967',
 '#9b7bd7',
 '#c6fe09',
 '#cd208f',
 '#0084e0',
 '#e52df2',
 '#c25323',
 '#f92d03',
 '#3bc459',
 '#6fe4be',
 '#6885d7',
 '#7841a2',
 '#e9a296',
 '#b5a42a',
 '#c82c5f',
 '#855113',
 '#f4b988',
 '#18ae1f',
 '#b02917',
 '#2659cd',
 '#8c9971',
 '#51d6bb',
 '#a9cef3',
 '#0cf0e4',
 '#60cfe3',
 '#f91ae7',
 '#aa122b',
 '#761a0f',
 '#d32f77',
 '#d009b1',
 '#152512',
 '#202c6f',
 '#4a1116',
 '#9626be']

In [24]:
# %%capture --no-display
# Configure the map plot
# Display the map
# nice reference for maps  https://jupyter-gmaps.readthedocs.io/en/latest/api.html
symbol_locations = city_data_df[['Lat','Lng']]
symbol_size = (city_data_df['Humidity/10']).astype(int)
ssize = symbol_size.tolist()



figurelayout = {
    'width': '800px',
    'height': '600px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
    
}

# fig = gmaps.figure(map_type='HYBRID',layout=figurelayout)
fig = gmaps.figure(layout=figurelayout)
symbols = gmaps.symbol_layer(symbol_locations, fill_color = colors,stroke_color = colors,stroke_opacity = 0,scale =ssize)
# ,fill_color = 'green', fill_opacity = 0.5,, scale = symbol_size)
fig.add_layer(symbols)
fig

Figure(layout=FigureLayout(border='1px solid black', height='600px', margin='0 auto 0 auto', padding='1px', wi…

### Step 2: Narrow down the `city_data_df` DataFrame to find your ideal weather condition

In [34]:
# Narrow down cities that fit criteria and drop any results with null values
# Ideal Weather Conditions
# a max temperature lower than or equal to 90 degrees Fahrenheit (32.2 Celsius)
# a max temperature higher than or equal to 70 degrees Fahrenheit (21.1 Celsius)
# Wind speed less than 10 mph
# less than 25% cloudiness
# humidity lower than or equal to 50% 
# humidity higher than or equal to 30%

idealconddf = city_data_df.loc[(city_data_df['Max Temp'] >= 21.1) & (city_data_df['Max Temp'] <=32.2)
 & (city_data_df['Humidity'] >= 30) & (city_data_df['Humidity'] <= 50) & (city_data_df['Cloudiness'] <= 25)
 &(city_data_df['Wind Speed'] <= 10)
]


# Drop any rows with null values  - no NAs
idealconddf2 = idealconddf.dropna()


# Display sample data
idealconddf2

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Humidity/10,MaxTempF
59,59,avera,33.1940,-82.5271,26.97,44,0,4.31,US,1667597214,5,80.546
76,76,lompoc,34.6391,-120.4579,24.27,35,0,8.23,US,1667597126,4,75.686
88,88,mayfield,36.7417,-88.6367,26.52,49,0,6.69,US,1667597221,5,79.736
116,116,mancio lima,-7.6142,-72.8958,32.04,35,0,3.09,BR,1667597229,4,89.672
228,228,guerrero negro,27.9769,-114.0611,22.33,30,1,2.29,MX,1667597262,4,72.194
268,268,necochea,-38.5473,-58.7368,21.36,43,0,8.16,AR,1667597274,5,70.448
275,275,santiago,-33.4569,-70.6483,24.19,42,0,6.17,CL,1667596658,5,75.542
301,301,roma,43.2128,-75.4557,22.08,37,0,4.63,US,1667597163,4,71.744
324,324,nizwa,22.9333,57.5333,22.03,35,3,1.10,OM,1667597291,4,71.654
375,375,najran,17.4924,44.1277,21.36,33,3,0.42,SA,1667597308,4,70.448
407,407,roebourne,-20.7833,117.1333,24.34,48,4,3.56,AU,1667597317,5,75.812
453,453,chinchani,19.8667,72.7000,24.57,49,0,3.05,IN,1667597331,5,76.226
565,565,bentiu,9.2333,29.8333,24.81,42,4,1.70,SS,1667597365,5,76.658

### Step 3: Create a new DataFrame called `hotel_df`.

In [36]:
# Use the Pandas copy function to create DataFrame called hotel_df to store the city, country, coordinates, and humidity
hotel_df = idealconddf2.copy()

# Add an empty column, "Hotepal Name," to the DataFrame so you can store the hotel found using the Geoapify API

hotel_df['Hotel Name'] = pd.Series(dtype = 'string')


# Display sample data
hotel_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Humidity/10,MaxTempF,Hotel Name
59,59,avera,33.1940,-82.5271,26.97,44,0,4.31,US,1667597214,5,80.546,<NA>
76,76,lompoc,34.6391,-120.4579,24.27,35,0,8.23,US,1667597126,4,75.686,<NA>
88,88,mayfield,36.7417,-88.6367,26.52,49,0,6.69,US,1667597221,5,79.736,<NA>
116,116,mancio lima,-7.6142,-72.8958,32.04,35,0,3.09,BR,1667597229,4,89.672,<NA>
228,228,guerrero negro,27.9769,-114.0611,22.33,30,1,2.29,MX,1667597262,4,72.194,<NA>
268,268,necochea,-38.5473,-58.7368,21.36,43,0,8.16,AR,1667597274,5,70.448,<NA>
275,275,santiago,-33.4569,-70.6483,24.19,42,0,6.17,CL,1667596658,5,75.542,<NA>
301,301,roma,43.2128,-75.4557,22.08,37,0,4.63,US,1667597163,4,71.744,<NA>
324,324,nizwa,22.9333,57.5333,22.03,35,3,1.10,OM,1667597291,4,71.654,<NA>
375,375,najran,17.4924,44.1277,21.36,33,3,0.42,SA,1667597308,4,70.448,<NA>
407,407,roebourne,-20.7833,117.1333,24.34,48,4,3.56,AU,1667597317,5,75.812,<NA>
453,453,chinchani,19.8667,72.7000,24.57,49,0,3.05,IN,1667597331,5,76.226,<NA>
565,565,bentiu,9.2333,29.8333,24.81,42,4,1.70,SS,1667597365,5,76.658,<NA>

### Step 4: For each city, use the Geoapify API to find the first hotel located within 10,000 metres of your coordinates.

In [ ]:
# Set parameters to search for a hotel
radius = # YOUR CODE HERE
params = {
    # YOUR CODE HERE
}

# Print a message to follow up the hotel search
print("Starting hotel search")

# Iterate through the hotel_df DataFrame
for index, row in hotel_df.iterrows():
    # get latitude, longitude from the DataFrame
    # YOUR CODE HERE
    
    # Add filter and bias parameters with the current city's latitude and longitude to the params dictionary
    params["filter"] = # YOUR CODE HERE
    params["bias"] = # YOUR CODE HERE
    
    # Set base URL
    base_url = "https://api.geoapify.com/v2/places"


    # Make and API request using the params dictionaty
    name_address = # YOUR CODE HERE
    
    # Convert the API response to JSON format
    name_address = # YOUR CODE HERE
    
    # Grab the first hotel from the results and store the name in the hotel_df DataFrame
    try:
        hotel_df.loc[index, "Hotel Name"] = name_address["features"][0]["properties"]["name"]
    except (KeyError, IndexError):
        # If no hotel is found, set the hotel name as "No hotel found".
        hotel_df.loc[index, "Hotel Name"] = "No hotel found"
        
    # Log the search results
    print(f"{hotel_df.loc[index, 'City']} - nearest hotel: {hotel_df.loc[index, 'Hotel Name']}")

# Display sample data
hotel_df

### Step 5: Add the hotel name and the country as additional information in the hover message for each city in the map.

In [ ]:
%%capture --no-display

# Configure the map plot
# YOUR CODE HERE

# Display the map
# YOUR CODE HERE